# Игнорируем папки и файлы
/node_modules
/public/packs
/public/assets
.byebug_history
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
.env
*.swp
.DS_Store

# Игнорируем файлы окружения
/config/master.key
/config/credentials.yml.enc