<section class="bg-primary text-white py-5">
  <div class="container">
    <h2 class="text-center mb-4">Наши контакты</h2>
    <div class="row">
      <div class="col-md-4 text-center">
        <i class="fas fa-map-marker-alt fs-1 mb-3"></i>
        <p>г. Москва, ул. Примерная, д. 123</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-phone fs-1 mb-3"></i>
        <p>+7 (123) 456-78-90</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-envelope fs-1 mb-3"></i>
        <p>info@canopycompany.com</p>
      </div>
    </div>
    <div class="text-center mt-4">
      <a href="#" class="text-white me-3"><i class="fab fa-vk fs-3"></i></a>
      <a href="#" class="text-white me-3"><i class="fab fa-instagram fs-3"></i></a>
      <a href="#" class="text-white"><i class="fab fa-facebook fs-3"></i></a>
    </div>
  </div>
</section>