<section class="bg-light py-5">
  <div class="container">
    <h2 class="text-center mb-4">Что мы предлагаем</h2>
    <div class="row">
      <div class="col-md-4 text-center">
        <i class="fas fa-car text-primary fs-1 mb-3"></i>
        <h5>Навесы для автомобилей</h5>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-umbrella-beach text-primary fs-1 mb-3"></i>
        <h5>Навесы для террас и беседок</h5>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-home text-primary fs-1 mb-3"></i>
        <h5>Навесы для дома</h5>
      </div>
    </div>
  </div>
</section>