<!--<section class="py-5">-->
<!--  <div class="container">-->
<!--    <h2 class="text-center mb-4">Этапы работы</h2>-->
<!--    <div class="row">-->
<!--      <div class="col-md-3 text-center">-->
<!--        <i class="fas fa-phone text-primary fs-1 mb-3"></i>-->
<!--        <h5>Заявка или звонок</h5>-->
<!--      </div>-->
<!--      <div class="col-md-3 text-center">-->
<!--        <i class="fas fa-ruler text-primary fs-1 mb-3"></i>-->
<!--        <h5>Выезд замерщика</h5>-->
<!--      </div>-->
<!--      <div class="col-md-3 text-center">-->
<!--        <i class="fas fa-calculator text-primary fs-1 mb-3"></i>-->
<!--        <h5>Расчет стоимости</h5>-->
<!--      </div>-->
<!--      <div class="col-md-3 text-center">-->
<!--        <i class="fas fa-tools text-primary fs-1 mb-3"></i>-->
<!--        <h5>Изготовление и монтаж</h5>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->