.status-new {
  background-color: #3498db;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.status-in-progress {
  background-color: #f39c12;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.status-completed {
  background-color: #2ecc71;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}



//.callback-button {
//  position: fixed;
//  bottom: 20px;
//  right: 20px;
//  background: #ff5733;
//  color: white;
//  border: none;
//  padding: 12px 20px;
//  font-size: 16px;
//  border-radius: 5px;
//  cursor: pointer;
//  transition: 0.3s;
//}
//
//.callback-button:hover {
//  background: #e04e2a;
//}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  margin: 15% auto;
  width: 40%;
  border-radius: 8px;
  text-align: center;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}


// Стили для модального окна
.modal-content {
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background-color: #007bff;
  color: white;
}

.btn-close {
  filter: invert(1);
}

.modal-body {
  padding: 20px;
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  &:hover {
    background-color: #0056b3;
  }
}
