//.status-tag {
//  padding: 5px 10px;
//  border-radius: 5px;
//  font-weight: bold;
//}
//
//.status-new {
//  background-color: #f8d7da;
//  color: #721c24;
//}
//
//.status-in-progress {
//  background-color: #fff3cd;
//  color: #856404;
//}
//
//.status-completed {
//  background-color: #d4edda;
//  color: #155724;
//}
//
//.status-default {
//  background-color: #e2e3e5;
//  color: #6c757d;
//}
.status-new {
  background: #0d6efd !important; // синий
  color: #fff !important;
}

.status-in-progress {
  background: #ffc107 !important; // жёлтый
  color: #000 !important;
}

.status-completed {
  background: #198754 !important; // зелёный
  color: #fff !important;
}

.status-default {
  background: #6c757d !important; // серый
  color: #fff !important;
}
