<h1>Новая заявка с сайта</h1>
<p><strong>Имя:</strong> <%= @lead.name %></p>
<p><strong>Email:</strong> <%= @lead.email %></p>
<p><strong>Телефон:</strong> <%= @lead.phone %></p>
<p><strong>Сообщение:</strong> <%= @lead.message %></p>
